/* Showcase block */
.showcase	{
	//background:url(../images/show_bg.png) no-repeat;
	width:400px;
	height:300px;
}

.imac	{
	left: 39px;
	position: absolute;
	top: 43px;
	z-index:-1;
}

.ipad	{
	left: 226px;
	position: absolute;
	top: 159px;
}

.iphone	{
	left: 40px;
	position: absolute;
	top: 189px;
}

/* UPS block */
#frontpage_2	{
	background:#2daae2;
	padding-top:30px;
}

#block-views-usp-block .one-third.column,
#block-views-usp-block .one-third.column h2	{
	color:#fff;
	text-align:center;
}

/* Contact form */
#frontpage_4	{
	background:#aac8d4;
	padding-top:30px;
}

#block-views-contactformulier-block input.form-text, 
#block-views-contactformulier-block textarea.form-textarea, 
#block-views-contactformulier-block select.form-select	{
	float:right;
	width:300px;
}

.form-textarea-wrapper textarea	{ box-sizing:inherit !important;	}

label {
  display: inline-block;
  font-weight: normal;
}